@use '../../foundation/breakpoint' as m;


@include m.mq(sp) {
  .p-flex--yarpp {
    display: flex;
    margin-bottom: 7px;
    margin-right: 5px;
  }
}
@include m.mq(tab) {
  .p-flex--yarpp {
    display: flex;
    margin-bottom: 7px;
    margin-right: 5px;
  }
}
@include m.mq(pc) {
  .p-flex--yarpp {
    display: flex;
    margin-bottom: 7px;
    margin-right: 5px;
  }
}