@use '../../foundation/breakpoint' as m;


@include m.mq(sp) {
  .p-news__archive__item {
    background-color: #fff;
    h3 {
      color:#3C2B1C;
      font-family: 'M+ 1m';
      font-weight: bold;
      font-size: 20px;
      padding: 13px 0px 13px 0px;
    }
    span {
      display: inline-block;
      color:#3C2B1C;
      font-family: 'M+ 1m';
      font-weight: normal;
      font-size: 12px;
      padding: 0px 0px 5px 0px;
    }
    p {
      color:#3C2B1C;
      font-family: 'M+ 1m';
      font-weight: normal;
      font-size: 16px;
      padding: 13px 0px 5px 0px;
    }
  }
}
@include m.mq(tab) {
  .p-news__archive__item {
    background-color: #fff;
    h3 {
      color:#3C2B1C;
      font-family: 'M+ 1m';
      font-weight: bold;
      font-size: 20px;
      padding: 0px 0px 5px 20px;
    }
    span {
      display: inline-block;
      color:#3C2B1C;
      font-family: 'M+ 1m';
      font-weight: normal;
      font-size: 12px;
      padding: 0px 0px 2px 20px;
    }
    p {
      color:#3C2B1C;
      font-family: 'M+ 1m';
      font-weight: normal;
      font-size: 16px;
      padding: 13px 0px 5px 20px;
    }
  }
}

@include m.mq(pc) {
  .p-news__archive__item {
    background-color: #fff;
    position: relative;
    h3 {
      color:#3C2B1C;
      font-family: 'M+ 1m';
      font-weight: bold;
      font-size: 36px;
      padding: 0px 0px 5px 20px;
    }
    span {
      display: inline-block;
      color:#3C2B1C;
      font-family: 'M+ 1m';
      font-weight: normal;
      font-size: 12px;
      padding: 0px 0px 2px 20px;
    }
    p {
      color:#3C2B1C;
      font-family: 'M+ 1m';
      font-weight: normal;
      font-size: 16px;
      padding: 13px 0px 5px 20px;
    }
  }
}