@use '../../foundation/breakpoint' as m;


@include m.mq(sp) {
  .p-tag-container {
    .p-tag {
      background-color: #D9D9D9;
      border-radius: 10px;
      padding: 0px 13px 0px 13px;
      margin-right: 4px;
    }
  }
}
@include m.mq(tab) {
  .p-tag-container {
    margin-left: 20px;
    .p-tag {
      background-color: #D9D9D9;
      border-radius: 10px;
      padding: 0px 13px 0px 13px;
      margin-right: 4px;
    }
  }
}
@include m.mq(pc) {
  .p-tag-container {
    margin-left: 20px;
    margin-bottom: 5px;
    .p-tag {
      background-color: #D9D9D9;
      border-radius: 10px;
      padding: 0px 13px 0px 13px;
      margin-right: 4px;
    }
  }
}